[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ibmshortolandia
[access "refs/for/refs/*"]
	read = group user/ibmshortolandia
	push = group user/ibmshortolandia
	label-Code-Review = -2..+2 group user/ibmshortolandia
	label-Verified = -1..+1 group user/ibmshortolandia
	rebase = group user/ibmshortolandia
	removeReviewer = group user/ibmshortolandia
	submit = group user/ibmshortolandia
[access "refs/heads/*"]
	read = group user/ibmshortolandia
	create = group user/ibmshortolandia
	push = +force group user/ibmshortolandia
	pushMerge = group user/ibmshortolandia
[access "refs/tags/*"]
	push = +force group user/ibmshortolandia
	pushTag = group user/ibmshortolandia
	pushSignedTag = group user/ibmshortolandia
